  .form-a{
    background-image: url(/Image/texture-crushed-paper.jpg);
  }
  link:hover {
    color: #183153 !important;
    /* font-size: 20px!important; */
}
a:hover {
    color: #183153!important;
    /* font-size: 20px!important; */
}   
/* header */

                *{
                    text-decoration: none;
                    list-style: none;
                  }
                  .navbar-nav{
                      
                    justify-content: center;
                    gap: 30px;
                    width: 100%;
                   
                    
                    color: black;
                    font-family: sans-serif;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
                  
                  
                  
                  
                  }
                  
                  .vedio-hader
                  {
                  height: 1100%;
                  width: 100%;
                  }
                  
                  .nav-item a
                  {
                  color: white	;
                  
                  font-size:larger;
                  }
                  
                  
                  .d-flex
                  {
                  gap: 50%;
                  color: 	white;
                  font-size: larger;
                  }
                  
                  .img-w
                  {
                  width: 15%;
                  height: 20%;
                  }
                  
                  .carousel-inner
                  {
                  height: 200px;
                  }
                  
                  .hero
                  {
                  width: 100%;
                  /* height: 90vh;
                  position: relative;
                  padding: 0 5%; */
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  }
                  
                  .content
                  
                  {
                  justify-content: left;
                  margin: auto;
                  }
                  
                  .content h1{
                  font-size: 100px;
                  color: black;
                  font-weight: bold;
                  
                  }
                  
                  .carcontent{
                  
                  text-align: center;
                  }
                  
                  .content h4{
                  text-align: center;
                  font-weight: bold;
                  }
                  
                  .backvideo
                  {
                  /* position: absolute; */
                  right: 0%;
                  bottom: 0%;
                  /* z-index: -1; */
                  }
                   



.img{
    max-width: 100%  ;
}
.page-title{
    text-align: center;
    margin-top: 5%;
    font-family: sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
    text-transform: uppercase;
    font-weight: 700!important;
}
.detail{
    /* font-family: sans-serif; */
    /* text-transform: uppercase; */
    font-weight: 200;
    font-size: large;
    margin-bottom: 9%;
}
.collection-item{
    text-align: center;
}
.title-wheels{
    font-size: 50px;
    margin-top: 9%;
}
.line{
    width: 80%;
    /* align-items: center!important; */
    margin-top: 4%;
    margin: auto;
}
.product-title{
    text-align: center;
}
.product-image{
    height: 450px;
}
.product-des{
    text-align: center  ;
}
.banner{
    max-width: 100%;
}
.ban{
    position: relative;
    margin-top: 60px;
    /* margin-bottom: 60px; */
    background-image: url(/Image/Forged-Fuel-Wheel-Collection-Headers_2869_9393.jpeg);
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    
}
.text{
    /* position: absolute; */
    margin-top: 153px;
    text-align: center;
    font-weight: 600;
    font-size: xxx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.forged{
  
    margin-left: 651px;
    position: relative;
    text-align: center!important;
    /* align-items: center!imp */
              
}
.collection-title{
    margin-top: 20px!important;
}
.last-banner{
    background-image: url(/Image/Vehicle-Gallery-Headers_3116.jpg);
    position: relative;
    margin-top: 60px;
    /* margin-bottom: 60px; */
    /* background-image: url(/Image/alloys/fuel\ banner.jpeg); */
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}
.forged{
    margin-left: 654px;
    position: relative;
    text-align: center !important;
}
.text-deco{
    text-decoration: none;
} 
.butt{
    margin-top: 20px!important;
} 
button {
    /* margin-top: 20px!important; */
    /* margin-top: 20px!important   ; */
    position: relative;
    margin: auto!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px!important;
    background: #183153;
    font-family: "Montserrat", sans-serif!important;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
    /* text-decoration: none; */
  }
  
  button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  button span {
    text-align: center;
    /* text-decoration: none!important.; */
    width: 100%;
    padding: 11px 22px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  